<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../lookup/monthly_statistics.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- 공통 헤더 (메인 페이지 전용) -->
    <header id="top-section">
        <!-- Common header will be loaded here -->
    </header>

    <!-- 제이쿼리 방식 -->
    <script>
      
    </script>

    <section id="bottom-section">
        <div id="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </section>
    <script type="module" src="./monthly_statistics.js"></script> 
</body>
</html>
