<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/group_management.css">
    <link rel="stylesheet" href="./group_member.css">
</head>
<body>
    <body>
        <div id="tabs">
            <a href="#" id="tab-active">그룹 관리</a>
            <a href="#" id="tab">계정 설정</a>
        </div>
        <div>
            <div id="navbar">
                <a href="#" id="nav">그룹 생성</a>
                <a href="#" id="nav">그룹장 지정</a>
                <a href="#" id="nav-active">그룹원 관리</a>
                <a href="#" id="nav">그룹 탈퇴</a>
            </div>
        </div>
    <div id="container">    
                <button>버튼</button>
    
            <a href="#" id="main">메인 화면</a>
      
</body>
</html>