/* 로그인 페이지 전용 스타일 (필요 시 추가) */

body {
  display: flex;
  /* 화면 중앙 정렬을 위한 flexbox 사용 */
  justify-content: center;
  /* 수평 가운데 정렬 */
  align-items: center;
  /* 수직 가운데 정렬 */
  flex-direction: column;
  /* 요소들을 세로로 배치 */
  height: 100vh;
  /* 화면 전체 높이를 차지 */
  background: linear-gradient(12deg, #b3eaec, #17a1fd);
  /* 배경 그라디언트 효과 */
  text-align: center;
  /* 텍스트 가운데 정렬 */
  font-family: 'Arial', sans-serif;
  /* 폰트 설정 */
  overflow: hidden;
  /* 애니메이션이 밖으로 넘치지 않도록 설정 */
}



#container {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;

}

#container h1 {
  color: #17a1fd;
}

#container p {
  text-align: left;
}

#container input[type="text"],
#container input[type="password"] {
  width: 92%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#container button {
  width: 92%;
  padding: 10px;
  background-color: #17a1fd;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px;
}

#container button:hover {
  background-color: #0056b3;
}


#signup-btn {
  color: #0056b3;
  /* 글자 색상 */
  font-size: 14px;
  /* 글자 크기 */
  text-decoration: none;
  /* 밑줄 제거 */
}