<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/settings.css">
    <link rel="stylesheet" href="./setting.css">
</head>
<body>
    <div id="tabs">
        <a href="#" id="tab">그룹 관리</a>
        <a href="#" id="tab-active">계정 설정</a>
    </div>
    <div>
        <div id="navbar">
            <a href="#" id="nav-active">계정 설정</a>
            <a href="#" id="nav">메인가계부</a>
            <a href="#" id="nav">회원 탈퇴 </a>
        </div>
    </div>
<div id="container">    
    <div id="account-settings">
        <P>닉네임</P>
        <input type="text" />
        <p>비밀번호 변경</p>
        <input type="password" />
        <p>이메일 변경</p>
        <input type="email" placeholder="youremail@abc.com"/>
        <button>저장</button>
    </div>

        <a href="#" id="main">메인 화면</a>
</div>  
    <script type="module" src="./setting.js"></script>
</body>
</html>