<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>가계부 관리 앱 - 회원가입</title>
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="./signup.css">
</head>
<body>
<section id="signup-section">
  <h1>S i g n &nbsp;&nbsp; u p</h1>
  <form id="registerForm">
    <P>아이디<span id="star"> *</span></P>
    <input type="text" id="reg-username" placeholder="아이디" required>
    <p>비밀번호<span id="star"> *</span></p>
    <input type="password" id="reg-password" placeholder="비밀번호" required>
    <p>이메일<span id="star"> *</span></p>
    <input type="email" id="reg-email" placeholder="youremail@abc.com"/>
    <button type="submit">회원가입</button>
      <a href="./login.html" id="login-btn">로그인</a> 
  </form>

</section>
<script type="module" src="./signup.js"></script>
</body>
</html>
