<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../management/assets.css">
    <link rel="stylesheet" href="../../css/table.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- 공통 헤더 (메인 페이지 전용) -->
    <header id="top-section">
        <!-- Common header will be loaded here -->
    </header>
    
    <section id="bottom-section">
        <div id="itemTable-container">
        <table border="1" id="itemTable">
            <thead>
            <tr>
                <th>품목</th>
                <th>구입날짜</th>
                <th>보증기한</th>
                <th>무상 수리 기한</th>
                <th>청소일자</th>
                <th>삭제</th>
            </tr>
            </thead>
        </table>
        <button type="submit" class="asset_submit">저장</button>
        </div>

    </section> 
    <script type="module" src="./assets.js"></script>   
</body>
</html>
