<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../management/subscriptions.css">
    <link rel="stylesheet" href="../../css/table.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- 공통 헤더 (메인 페이지 전용) -->
    <header id="top-section">
        <!-- Common header will be loaded here -->
    </header>
    
   
    
    <section id="bottom-section">
        <div id="itemTable-container">
            <table border="1" id="itemTable">
                <thead>
                    <tr>
                        <th>서비스명</th>
                        <th>시작일</th>
                        <th>금액</th>
                        <th>결제일</th>
                        <th>결제 주기</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>
    <script type="module" src="./subscriptions.js"></script>   
</body>
</html>