<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./first_screen.css">
</head>

<body>

        <img src="../../images/Logo.png" class="logo">
       
        <div class="title-container">
            <img src="../../images/MOA.png" class="people">
            <h1>MOA MOA<br />가계부를 쉽게 관리하세요!</h1><br>
            <div class="receipt-container">
                <div class="receipt">💳 15,000원 지출</div>
                <div class="receipt">💰 50,000원 입금</div>
                <div class="receipt">🍔 8,500원 지출</div>
            </div>

       </div>

        <div class = "auth-buttons">
                    <a href="../user/login.html" class="login-btn"> 로그인</a>
                    <a href="../user/signup.html" class="signup-btn">회원가입</a>
            <div>
        <br>
     




</body>

</html>