<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>네비게이션 바</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<!-- 공통 헤더 (메인 페이지 전용) -->   
<header id="top-section">   
    <div id="auth-buttons">
        <form>
            <select id="groupSelect" name="options">
            </select>
            <button type="submit" id="new_info">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                  </svg>
            </button>
        </form>
        <a href="../user/setting.html" id="settings">설정</a>
        <a href="../main/first_screen.html" id="logoutBtn">로그아웃</a>
    </div>
        <a href="../main/main.html">
            <img src="../../images/MOA MOA!.png" id="logo"></a>
        <div id="navbar">
            <a href="../main/main.html">로고</a>
            <a href="../management/fridge.html">식품</a>
            <a href="../management/subscriptions.html">구독</a>
            <a href="../management/assets.html">전자기기</a>
            <a href="../lookup/market_prices.html">식자재 시세</a>
            <a href="../lookup/fuel_prices.html">유가</a>
            <a href="../lookup/monthly_statistics.html">통계</a>
            <a href="../lookup/history.html">내역</a>
        </div>

  </header>
</body>
</html>
