<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tabs">
        <a href="../user/group_member.html" class="tab">그룹 관리</a>
        <a href="../user/setting.html" class="tab-active">계정 설정</a>
    </div>
    <div>
        <div id="navbar">
            <a href="../user/setting.html" class="nav">계정 설정</a>
            <a href="../user/setting_main.html" class="nav">메인가계부</a>
            <a href="../user/setting_withdraw.html" class="nav">회원 탈퇴</a>
        </div>
    </div>
</body>
</html>