<!-- index.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>가계부 관리 앱</title>
  <link rel="stylesheet" href="../../css/common.css">

  <!-- Bulma CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <!-- FullCalendar CSS -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet">

</head>
<body>

  <!-- 공통 헤더 -->
  <header id="common-header" style="display: none;">
    <nav>
      <a href="#settings">설정</a>
      <a href="#main">메인</a>

      <label>
        <select>
          <option value="ko">내가계부</option>
        </select>
      </label>

      <button id="logoutBtn">로그아웃</button>
    </nav>

    <nav>
      <a href="#main">로고</a>
      <a href="#fridge">냉장고 유통기한 관리</a>
      <a href="#subscriptions">구독 관리</a>
      <a href="#assets">전자제품 관리</a>
    </nav>
  </header>

  <!-- views 들이 표시되는 영역 -->
  <div id="app-container"></div>

  <!-- 라우팅 스크립트 로드 -->
  <script type="module" src="../../js/unused/router.js"></script>
</body>
</html>
